<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, "Enter First Name" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Enter Last Name" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email, "Enter Email" %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Enter Desired Password" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :bio, "Enter A Short Biography" %><br>
    <%= f.text_field :bio, size: 20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<!-- t.string :email
t.string :password_digest
t.string :first_name
t.string :last_name
t.text :bio -->