<!DOCTYPE html>
<html>
<head>
  <title>Shacker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to 'Shacker', posts_path, class: "nav-header" %>
  <%= link_to 'Posts', posts_path, class: "nav-link" %>
  <%= link_to 'Comments', comments_path, class: "nav-link" %>
  <%= link_to 'Users', users_path, class: "nav-link" %>
</nav>

<header>
  <section id="session">
    <% if logged_in? %>
      <span>Logged in as: <%= link_to current_user.first_name, current_user, class: "session-link" %> | </span>
      <%= link_to 'LOGOUT', new_session_path, method: :delete, class: "session-link" %>
    <% else %>
      <%= link_to "Login", new_session_path, class: "session-link" %> |
      <%= link_to 'Register', new_user_path, class: "session-link" %>
    <% end %>
  </section>
</header>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<%= yield %>
<footer></footer>
</body>
</html>
