<!DOCTYPE html>
<html>
<head>
  <title>Shacker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to 'Shacker', @articles, class: "nav-header" %>
  <%= link_to 'Articles', @articles, class: "nav-link" %>
  <%= link_to 'Comments', @comments, class: "nav-link" %>
  <%= link_to 'Users', @users, class: "nav-link" %>
</nav>

<header>
  <section id="session">
    <% if logged_in? %>
      <span>Logged in as: <%= link_to current_user.first_name, current_user, class: "session-link" %> | </span>
      <%= link_to 'LOGOUT', logout_path, method: :delete, class: "session-link" %>
    <% else %>
      <%= link_to "Login", login_path, class: "session-link" %> |
      <%= link_to 'Register', new_user_path, class: "session-link" %>
    <% end %>
  </section>
</header>

<%= yield %>
<footer></footer>
</body>
</html>
